<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.gerspec.app"
        versionCode = "3" 
        version     = "1.2.0" >

    <!-- versionCode is optional and Android only -->

    <name>GerSPEC</name>

    <description>
        Aplicativo para controle de automação residencial. 
    </description>

    <author href="https://mobilizy.com.br" email="falecom@mobilizy.combr">
        Renato Barbosa / Paulo Santiago / Maycon Pereira / Eduardo Zornitta
    </author>
    <!-- <gap:platform name="ios" /> -->
    <gap:platform name="android" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="android-installLocation" value="auto" />
    
    <icon src="img/appicon.png" />

    
    <gap:splash src="img/splash.png" />

    
    <feature name="http://api.phonegap.com/1.0/network"/>
    <access origin="*" />
</widget>
